<h1>Feedback</h1>
<script type="text/javascript">
	window.Intercom("boot", {
	  api_base: "https://api-iam.intercom.io",
	  app_id: "bkd0i677",
	  name: "Pratiksha Singh", // Full name
	  email: "pratiksha@proprofs.com", // the email for your user
	  created_at: "<%= Time.now %>", // Signup date as a Unix timestamp
	});
</script>